<!-- src/app/user/accounts/accounts.component.html -->
<div class="accounts-container">
    <h2>Mis Cuentas Bancarias</h2>
  
    <!-- Tabla de cuentas -->
    <table mat-table [dataSource]="accounts">
      <ng-container matColumnDef="accountNumber">
        <th mat-header-cell *matHeaderCellDef> Número de Cuenta </th>
        <td mat-cell *matCellDef="let account"> {{ account.accountNumber }} </td>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo de Cuenta </th>
        <td mat-cell *matCellDef="let account"> {{ account.type }} </td>
      </ng-container>
  
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Saldo </th>
        <td mat-cell *matCellDef="let account"> {{ account.balance }} </td>
      </ng-container>
  
      <!-- Definimos las filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  