.accounts-container {
    padding: 16px;
    border: 1px solid #9393934d;
    border-radius: 16px;
    box-shadow: 4px 4px 10px 1px #7f56d6;
}

.accounts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}