.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 4px 4px 10px 0px #1d0f0f;
}

.mat-mdc-form-field-error {
    width: 100%;

}

.mat-mdc-form-field {
    width: 100%;
    margin-bottom: 15px;
}




button[disabled] {
    color: #000;
    background-color: #afacaf70;
}