/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow: hidden;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease;
  }
  
  /* Modo Oscuro */
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;


    .sidenav {
        background-color: #d656c1;       
        color: #ffffff;
      }
    
      .sidenav-content {      
        background-color: #121212;
        color: #ffffff;
       
      }

  }

.content-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.mdc-text-field__input {
    color: #7f56d6 !important;
}

