/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow: hidden;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.mdc-text-field__input {
    color: #7f56d6 !important;
}

