/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow: hidden;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease;
  }
  
  /* Modo Oscuro */
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;


    .sidebar {
        width: 200px;
        background-color: #121212;
        box-shadow: 4px 0px 6px 0px rgba(255, 255, 255, 0.397);
        color: #7f56d6;
   
    }

  }

.content-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.mdc-text-field__input {
    color: #7f56d6 !important;
}

